   @model GenerativeAIWebsite.Views.Home.ContactModel
@{
    ViewData["Title"] = "Contact & About";
}

<div class="container mt-5">
    <h1 class="display-4 dislay-4-c">
        Contact & About
    </h1>

    <div class="row mt-4">
        <!-- Contact Us Column -->
        <div class="col-md-4 text-center" id="contact-block">
            <h3 class="mb-3" style="font-family: 'Montserrat', sans-serif;">Contact Us</h3>
            <p>This website is developed by [your name]</p>
            <p>To get in contact please email: <a href="mailto:your-email@example.com">your-email@example.com</a></p>
        </div>

        <!-- About Us Column -->
        <div class="col-md-4 text-center" id="contact-block">
            <h3 class="mb-3" style="font-family: 'Montserrat', sans-serif;">About Us</h3>
            <p>
                This website provides an introduction to Artificial Intelligence and was created as
                partial fulfillment of the assessment requirements of Web Design and Programming at the
                University of Canberra.
            </p>
            <p>
                This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design
                techniques.
            </p>
        </div>

        <!-- Copyright Column -->
        <div class="col-md-4 text-center" id="contact-block">
            <h3 class="mb-3" style="font-family: 'Montserrat', sans-serif;">Copyright</h3>
            <p>All images used in this website were downloaded from <a href="https://unsplash.com/" target="_blank">Unsplash</a>.</p>
            <p>The icons for the footer from <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>.</p>
            <p>The Anton font used for headers from <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>.</p>
        </div>
    </div>
</div>
