@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Generative Artificial Intelligence</h1>

    <!-- Background Video -->
    <a class="video-overlay"></a>
    <video loop muted autoplay="autoplay" preload="auto" id="backgroundVideo">
        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
    </video>

    <!-- Description Paragraph -->
    <p class="display4-p">
        Generative artificial intelligence is artificial intelligence capable of generating
        text, images, videos, or other data using generative models, often in response to
        prompts. Generative AI models learn the patterns and structure of their input training
        data and then generate new data that has similar characteristics.
        <br><em>Wikipedia</em>
    </p>

    <!-- AI Chatbots Section -->
    <div class="AI-Chatbots">
        <!-- First Block-->
        <div class="block">
            <div class="left-column">
                <h3>AI Chatbots</h3>
                <p>
                    Artificial intelligence (AI) chatbots are apps or interfaces that can carry on
                    human-like conversation using natural language understanding (NLU) or natural
                    language processing (NLP) and machine learning (ML).<button class="read-more" onclick="redirectToAIChatboats()">Read more</button>
                </p>
                
            </div>
            <div class="middle-column">
                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Gemini_SS.width-1300.jpg"
                     alt="Illustration of an AI chatbot interface" />

                <p class="hover-text">
                    Gemini, formerly known as Bard, is a generative artificial intelligence chatbot
                    developed by Google.<br>Wikipedia
                </p>
            </div>
            <div class="right-column">
                <img src="https://cdn.prod.website-files.com/6344c9cef89d6f2270a38908/64148ed756708f9b82464c96_image-of-hand-holding-an-ai-face-looking-at-the-words-chatgpt-openai.webp"
                     alt="Illustration of an AI face and the word ChatGPT" />
                <p class="hover-text">
                    ChatGPT is a chatbot and virtual assistant developed by OpenAI and launched on November
                    30, 2022.<br>Wikipedia
                </p>
            </div>
        </div>

        <!-- Second Block -->
        <div class="block">
            <div class="middle-column">
                <img src="https://lh3.googleusercontent.com/9lw0sBoe7tr890rgKJlEVwqlDPOWsyayNx5QGKuqmad_stLwYAuHSQR4F9tOiFHx6pxMKOk_CV0F-SYXsI4MCAqb_Q=s800-w800-h500"
                     alt="Pixlr" />
                <p class="hover-text">
                    Pixlr is a group of AI-powered SaaS creative tools including Pixlr.com, Designs.ai and
                    Vectr.com. <br>Wikipedia
                </p>
            </div>
            <div class="right-column">
                <img src="https://i0.wp.com/pune.news/wp-content/uploads/2024/08/DALL-E.webp?fit=2048%2C1080&ssl=1"
                     alt="Dall-e" />
                <p class="hover-text">
                    DALL·E, DALL·E 2, and DALL·E 3 are text-to-image models developed by OpenAI.
                    <br>Wikipedia
                </p>
            </div>
            <div class="left-column">
                <h3>AI Image Generator</h3>
                <p>
                    AI Image Generator is an innovative tool using advanced AI techniques to generate images
                    from a text prompt, just write what you want to generate and our AI will create it.<button class="read-more" onclick="redirectToAIImageGenerator()">Read more</button>
                </p>
                
            </div>
        </div>

        <!-- Third Block -->
        <div class="block">
            <div class="left-column">
                <h3>AI Companies</h3>
                <p>
                    Top Generative AI Companies: Microsoft, OpenAI, Google, Amazon, Anthropic, IBM, Meta,
                    xAI, Stability, and Adobe.<button class="read-more" onclick="redirectToAICompanies()">Read more</button>
                </p>

            </div>
            <div class="middle-column">
                <img src="https://kreafolk.com/cdn/shop/articles/ibm-logo-design-history-and-evolution-kreafolk_f6963bf2-5011-41cd-a198-3b9b4dcff48d.jpg?v=1717725060&width=2048"
                     alt="IBM" />
                <p class="hover-text">
                    IBM is the largest industrial research organization in the world, with 19 research
                    facilities across a dozen countries.<br>Wikipedia
                </p>
            </div>
            <div class="right-column">
                <img src="https://www.hatchwise.com/wp-content/uploads/2022/05/amazon-logo-1024x683.png"
                     alt="Amazon" />
                <p class="hover-text">
                    The most capable generative AI–powered assistant for accelerating software development
                    and leveraging companies' internal data. <br>Amazon Q
                </p>
            </div>
        </div>

    </div>

</div>
